p{text-align: center;
	color: black;
	font-size: 30px;
	font-family: Bookman, serif;
	top: 150px;
	position: relative;
	bottom: 50px;
}
ul,li{color:black;
	font-size: 30px;
	font-family: Bookman, serif;
	position: relative;
	top: 150px;
}
img{width: 700px;
	position:relative;
	left: 600px;
	background-color: lightgrey;
	top: 50px;

}	