body{
  background-color: lightgrey;
  color: white;
}
header{
  padding-top: 5px;
  background-color: black;
  text-align: center;
  text-shadow: 50px;
  text-decoration: inherit;
  font-family: sans-serif;
  font: italic bold 60px/60px Georgia, serif;
  outline-style: double;
  outline-color: #000080;
  outline-width: 15px;
}
.live{
  text-align: inherit;
}
.top{
  background-color: black;
  flex-flow: 100%;
}

.btn btn-primary{
  background-color: #000080;
}
.logo{
  float: left;
  color: negative;
}
.image{
  flex:100%;
  padding-left: 400px;
  padding-top: 50px;

  }
.carousel-inner{
  padding-top: 50px
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: auto;
  height: auto;
  -webkit-transform:scale(0);
  transition: .5s ease;
}
.col-6:hover .overlay {
  height: 100%;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

